
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<a   asp-controller="Parts" asp-action="AvailiableParts">Check availiable parts</a><br />
<a asp-controller="Parts" asp-action="OrderingParts">OrderingParts</a><br />
<a asp-controller="Parts" asp-action="ReportingMissingParts">ReportingMissingParts</a>
