@model Repair
@{
    ViewData["Title"] = "AssignConfirm";
}

    <h1>You have assign @Model.Car.CarModel.CarBrand.Name @Model.Car.CarModel.Name of customer @Model.Car.Customer.Name @Model.Car.Customer.Surname</h1>

