@model ChangeStatusViewModel
@{
    ViewData["Title"] = "ChangeStatus";
}

<h1>ChangeStatus</h1>


<form asp-action="ChangeStatus" method="post" class="mt-3">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div class="form-group row">
        <label asp-for="ChoosenStatusId" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.ChoosenStatusId, new SelectList(Model.StatusList, "Id", "Name"), "Select new status")
            <span asp-validation-for="ChoosenStatusId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Description" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    @Html.HiddenFor(model => model.Id)
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">
                Change Status
            </button>
            <a class="btn btn-primary" role="button" asp-controller="Mechanic" asp-action="ListRepairAssignedToMechanic">Back</a>
        </div>
    </div>

</form>